<div class="container">
  <h1>About Developers</h1>

  <div class="developer">
    <img
      src="https://media.istockphoto.com/id/492789232/photo/content-young-arab-man-in-traditional-clothing.jpg?s=612x612&w=0&k=20&c=BmsD-FMVfZPqj5jndy3L_jOo6S-sTIZhsH2LCJmc7To="
      alt="Developer 1"
    />
    <h2>Ahmed Al-Mansoori</h2>
    <p>
      Ahmed is a full-stack developer with a passion for creating dynamic and
      user-friendly web applications. He specializes in the MEAN stack and has
      extensive experience with Angular and Node.js. In his free time, Ahmed
      enjoys playing the oud and exploring new technologies.
    </p>
    <div class="clear"></div>
  </div>

  <div class="developer">
    <img
      src="https://www.shutterstock.com/image-photo/portrait-arabic-man-kandora-studio-600nw-1896977620.jpg"
      alt="Developer 2"
    />
    <h2>Layla Al-Hassan</h2>
    <p>
      Layla is a front-end developer who excels in creating responsive and
      visually appealing websites. She is proficient in HTML, CSS, and
      JavaScript, with a particular focus on React.js. Layla is also an avid
      painter and loves to incorporate her artistic skills into her web designs.
    </p>
    <div class="clear"></div>
  </div>

  <div class="developer">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRuGs20L79wyAGJtnBNchYkInyHz-uGNtMkA&s"
      alt="Developer 3"
    />
    <h2>Omar El-Sayed</h2>
    <p>
      Omar is a back-end developer with a strong background in database
      management and server-side scripting. He is an expert in Python and
      Django, and enjoys solving complex problems with efficient and scalable
      solutions. Omar is also a chess enthusiast and participates in local
      tournaments.
    </p>
    <div class="clear"></div>
  </div>

  <div class="developer">
    <img
      src="https://img.freepik.com/premium-photo/beautiful-arab-woman-model-arabian-women-beautiful-model-beautiful-arab-girl_1002350-1572.jpg"
      alt="Developer 4"
    />
    <h2>Fatima Al-Farsi</h2>
    <p>
      Fatima is a software engineer with a keen interest in machine learning and
      artificial intelligence. She has a deep understanding of algorithms and
      data structures, and has worked on various AI projects using TensorFlow
      and Keras. Fatima loves reading and is always eager to learn new things.
    </p>
    <div class="clear"></div>
  </div>
</div>
