<div class="panel panel-default mt-3 ml-5">
  <div class="panel-heading">
    Books Entry Form: You can add book detail information into this LMS app.
  </div>
  <div class="panel-body">
    <form
      class="form-horizontal"
      [formGroup]="addBookForm"
      (ngSubmit)="addBooks()"
    >
      <div class="form-group">
        <label for="title" class="control-label">Book Title:</label>
        <input
          type="text"
          class="form-control"
          formControlName="title"
          (blur)="validateField('title')"
        />
        <div *ngIf="validateField('title')" class="text-danger">
          Title is required.
        </div>
      </div>
      <div class="form-group">
        <label for="author" class="control-label">Book Author:</label>
        <input
          type="text"
          class="form-control"
          formControlName="author"
          (blur)="validateField('author')"
        />
        <div *ngIf="validateField('author')" class="text-danger">
          Author is required.
        </div>
      </div>
      <div class="form-group">
        <label for="publishedYear" class="control-label">Published Year:</label>
        <input
          type="text"
          class="form-control"
          formControlName="publishedYear"
          (blur)="validateField('publishedYear')"
        />
        <div *ngIf="validateField('publishedYear')" class="text-danger">
          Valid Year is required.
        </div>
      </div>
      <div class="form-group">
        <label for="genre" class="control-label">Book Genre:</label>
        <input
          type="text"
          class="form-control"
          formControlName="genre"
          (blur)="validateField('genre')"
        />
        <div *ngIf="validateField('genre')" class="text-danger">
          Genre is required.
        </div>
      </div>
      <div class="form-group">
        <button
          type="submit"
          class="btn btn-success"
          [disabled]="addBookForm.invalid"
        >
          Save
        </button>
        <a class="btn btn-info" (click)="goBack()">Cancel</a>
      </div>
    </form>

    <div *ngIf="successMessage" class="alert alert-success">
      {{ successMessage }}
      <div>
        <strong>Book Details:</strong>
        <p>Title: {{ addedBook?.title }}</p>
        <p>Author: {{ addedBook?.author }}</p>
        <p>Published Year: {{ addedBook?.publishedYear }}</p>
        <p>Genre: {{ addedBook?.genre }}</p>
      </div>
    </div>
  </div>
</div>
